// 
// Colors
// 

// Monochrome Scale
$white: #FFFFFF;
$mono-50: #FAF7F5;
$mono-100: #F3EDE8;
$mono-200: #E6E3E1;
$mono-300: #CFC9C5;
$mono-400: #AFA4A1; 
$mono-500: #8A8280;
$mono-600: #706D6C;
$mono-700: #505050;
$mono-800: #363636;
$mono-900: #222222;

// Blue Scale
$blue-50: #E6EEF2;
$blue-100: #DCEEFA;
$blue-200: #B0DDF9;
$blue-300: #80C9F5;
$blue-400: #1780CA;
$blue-500: #12639C;
$blue-600: #1B4667;
$blue-700: #163853;

// Region Coding
$clay: #d35d59;
$dusk: #5c3b5d; 
$amazon: #4a986d;
$lagoon: #74bebf;
$acacia: #e2c369;




